############################################
#  シェル履歴・個人履歴ファイル           #
############################################
*.history
.zsh_history
.bash_history

############################################
#  個人環境ファイル（テンプレは *_example） #
############################################
.zshenv
.bash_profile

############################################
#  プラグインマネージャ & キャッシュ類     #
############################################
# zplug 本体・キャッシュ
.zsh/.zplug/**

# dein.vim 本体・キャッシュ
.vim/dein/**
.vim/.netrwhist
.vim/cache_vim/
.vim/state_vim.vim

############################################
#  エディタ & IDE キャッシュ / 一時ファイル #
############################################
*.swp
*.swo
.vscode/
.idea/

############################################
#  OS 生成ファイル                         #
############################################
.DS_Store
Thumbs.db

